.intro {
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);

  .heading {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    max-width: 90%;

    @media only screen and (min-width: 760px) {
      max-width: 65%;
      font-size: 45px;
      letter-spacing: 3px;
    }
  }

  .strapline {
    max-width: 90%;

    @media only screen and (min-width: 760px) {
      font-size: 20px;
      max-width: 65%;
    }
  }

  a {
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;

    &:hover {
      color: $grey;
      border-bottom: 1px solid $grey;
    }
  }
}
