.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 80px;
  transition: 0.5s ease-in;

  &.logo--is-small {
    left: 1%;
    top: 10px;
    width: 3%;
  }

  img {
    fill: #fff;
  }
}
