.menu-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;

    i {
      cursor: pointer;
      font-size: 35px;
    }
}

.main-nav {
  position: absolute;
  left: -120%;
  width: 100%;
  background: $blue;
  top: 0;
  height: 100%;
  transition: left 0.6s;
  z-index: 5;

  &.main-nav--open {
    left: 0;
  }

  @media only screen and (min-width: 760px) {
    padding-left: 8%;
  }

  ul {
    position: absolute;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    padding-left: 10%;
  }

  li {
    display: block;
  }

  a {
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    line-height: 1.2em;
    transition: 0.3s color ease-in;

    &:hover {
      color: $yellow;
    }


    @media only screen and (min-width: 760px) {
      font-size: 85px;
    }
  }
}

.calendly-badge-widget {
  position: absolute !important;
  left: 25px !important;
  right: auto !important;
  z-index: 2 !important;
}
