.main-nav {
  padding-top: 7.5%;

  @media only screen and (min-width: 760px) {
    padding-left: 8%;
  }

  li {
    display: block;
  }

  a {
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    line-height: 1.2em;
    transition: 0.3s color ease-in;

    &:hover {
      color: $yellow;
    }


    @media only screen and (min-width: 760px) {
      font-size: 85px;
    }
  }
}
