.project-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  @media only screen and (min-width: 760px) {
    
  }
}

.project-content__info {
  width: 90%;
  max-width: 400px;
  position: absolute;
  right: 20px;
  bottom:  20px;
  height: auto;
  max-height: 500px;
  overflow: auto;

  @media only screen and (min-width: 760px) {
    height: auto;
    bottom: auto;
    top: 20px;
  }
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  &[data-color="green"] {
    &::before {
      background: rgba($green, 1);
    }
  }

  &[data-color="orange"] {
    &::before {
      background: rgba($orange, 1);
    }
  }

  &[data-color="yellow"] {
    &::before {
      background: rgba($yellow, 1);
    }
  }

  &[data-color="purple"] {
    &::before {
      background: rgba($purple, 1);
    }
  }
}

.portfolio-list__item__content {
  position: relative;
  z-index: 10;
}

.project__logo {
  position: absolute;
  right: 20px;
  top: 20px;
  max-width: 45%;

  @media only screen and (min-width: 760px) {
    top: auto;
    bottom: 20px;
  }
}
