.social-links {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;

  .social-item {

    i {
      cursor: pointer;
      font-size: 20px;

      &:hover {
        color: $grey;
      }

      @media only screen and (min-width: 760px) {
        font-size: 25px;
      }
    }
  }
}
